@import 'var.pcss';

html, body {
  height: 100%;
}

body {
  background-color: var(--bgColor);
  color: var(--color);
  font-family: 'PingFangSC-Regular','Avenir', Helvetica, Arial, sans-serif;
}